
<div class="row">
    <div class="col-md-12">
        <div class="well well-sm bg-color-darken txt-color-white">
            <h5>Date Range</h5>
            <fieldset>
                <div class="row">
                    <div class="col-md-12 hidden-sm">
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(1)">This Week</a>
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(2)">Last Week</a>
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(3)">This Month</a>
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(4)">Last Month</a>
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(5)">This Year</a>
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(6)">Last Year</a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <label>Select a date (range):</label>
                    </div>
                    <div class="col-sm-6">

                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control from" type="text" placeholder="From">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">

                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control to" type="text" placeholder="Select a date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" class="btn btn-success" id="dateRangeBtn"><i class="fa fa-check"></i> Get Report</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

