
<div class="row">
    <div class="col-md-12">
        <div class="well well-sm bg-color-darken txt-color-white">
            <h5>Date Range</h5>
            <fieldset>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control from" type="text" placeholder="From">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control to" type="text" placeholder="Select a date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 hidden-sm">
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(1)">This Week</a>
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(2)">Last Week</a>
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(3)">This Month</a>
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(4)">Last Month</a>
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(5)">This Year</a>
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(6)">Last Year</a>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="col-sm-12">
                    <div style="  display: inline-flex; margin-top:10px;">
                        <a href="#" class="btn btn-success" id="voiceBtn"><i class="fa fa-check"></i> Get Report</a>
                        <form class="smart-form">
                            <label class="checkbox allAnomalies" style="margin-top:5px; margin-left:10px;">
                                <input id="voiceAll" type="checkbox" name="checkbox">
                                <i></i>Get All Anomalies
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-12">
        <br />
        <hr />
        <br />
        <img src="../../Content/img/adb_img/adb_loader_tr.GIF" alt="" style="display:none; zoom:0.3;" id="voiceLoader" />
        <audio id="audio" autoplay controls src="" type="audio/mpeg" style="width:100%; display:none;">
            <p>Your browser does not support the audio element </p>
        </audio>
        <br />
        <hr />
        <br />
    </div>

    <div class="col-md-12">
        <table class="table table-bordered table-hover table-responsive" id="voiceTbl">
            <thead>
                <tr>
                    <th>Date Reported</th>
                    <th>Reported By</th>
                    <th>Severity</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


