<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <div class="row">


            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-6 col-lg-6">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="reporting-id-1" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <ul class="nav nav-tabs pull-left in">

                            <li class="active">

                                <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-info"></i> <span class="hidden-mobile hidden-tablet"> Airport Information </span> </a>

                            </li>

                            <li>
                                <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-picture-o"></i> <span class="hidden-mobile hidden-tablet"> Logos </span> </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#hr3"> <i class="fa fa-lg fa-cogs"></i> <span class="hidden-mobile hidden-tablet"> General Options </span> </a>
                            </li>

                        </ul>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="tab-content">
                                <div class="tab-pane active" id="hr1">
                                  

                                </div>
                                <div class="tab-pane" id="hr2">


                                </div>
                                <div class="tab-pane" id="hr3">


                                </div>
                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>

          
        </div>
    </section>
</div>