<div class="row no-space">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <img src="~/Content/img/adb_img/startup_loader.GIF" id="activityChartLoader" style="zoom:0.5;" />
        <div id="activitiesChart" class="chart"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 show-stats">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                <span class="text"> Converted/Assigned (Shifts)<span class="pull-right" id="conversionSpan"></span> </span>
                <div class="progress">
                    <div class="progress-bar bg-color-red" style="width: 100%"></div>
                    <div id="convertedBar" class="progress-bar bg-color-greenLight"></div>

                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                <span class="text"> Resolved/Faulty (Reported Lights) <span class="pull-right" id="faultyLightsSpan"></span> </span>
                <div class="progress">
                    <div class="progress-bar bg-color-red" style="width: 100%"></div>
                    <div class="progress-bar bg-color-blue" id="faultyLightsBar"></div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                <span class="text"> Total Shift Completion<span class="pull-right" id="shiftCompletionSpan">0%</span> </span>
                <div class="progress">
                    <div class="progress-bar bg-color-orange" id="shiftCompletionBar"></div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                <span class="text"> Surveyor&trade; <span class="pull-right" id="anomalySpan"></span></span>
                <div class="progress">
                    <div class="progress-bar bg-color-red" id="anomalyBar"></div>
                </div>
            </div>
            <span class="show-stat-buttons"> <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <a href="~/Home/AnalyticsReport?fileType=PDF" class="btn btn-danger btn-block hidden-xs"><i class="fa fa-file-pdf-o"></i> Generate PDF</a> </span> <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <a href="~/shifts/calendar" class="btn btn-primary btn-block hidden-xs"><i class="fa fa-calendar"></i> Create Shift</a> </span> </span>
        </div>
    </div>
</div>
