<div class="modal fade" id="releaseNotesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-comments-o txt-color-blue fa-2x"></i> Release Notes</h4>
            </div>
            <div class="modal-body">
                <h4>
                    <i class="fa fa-globe"></i> Web Application - Version 4.0.2.68<br/>
                    <small>Released: 2016/06/23</small>
                </h4>
                <ul>
                    <li>The beta vrsion of multi asset location is available</li>
                    <li>Updated ability to view history on all items in system</li>
                    <li>Added functionality to delete calendar entries.</li>
                    <li>Fixed surveyor anomaly creation</li>
                    <li>Reported bug fixes</li>
                </ul>
                <hr/>
                <h4>
                    <i class="fa fa-apple"></i> iOS Application - Version 4.2.0.2210<br/>
                    <small>Released: 2016/05/24</small>
                </h4>
                <ul>
                    <li>Streamlined ability to upload images from surveyor</li>
                    <li>Updated offline working</li>
                    <li>General enhancements to speed of application</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" style="float:right" id="ReleaseOkBtn">Ok</button>
            </div>
        </div>
    </div>
</div>
