<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <div class="row">


            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-6 col-lg-6">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="reporting-id-1" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <ul class="nav nav-tabs pull-left in">

                            <li class="active">

                                <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-cogs"></i> <span class="hidden-mobile hidden-tablet"> @Resources.Language.Shifts_Date_Range </span> </a>

                            </li>

                            @*<li>
                                <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-cog"></i> <span class="hidden-mobile hidden-tablet"> Specific Shifts </span> </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#hr3"> <i class="fa fa-lg fa-exclamation"></i> <span class="hidden-mobile hidden-tablet"> Reported Faulty Lights </span> </a>
                            </li>*@

                        </ul>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="tab-content">
                                <div class="tab-pane active" id="hr1">
                                    @{Html.RenderPartial("_ShiftsDateRange");}


                                </div>
                                <div class="tab-pane" id="hr2">


                                </div>
                                <div class="tab-pane" id="hr3">


                                </div>
                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>

            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-6 col-lg-6">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="reporting-id-2" data-widget-editbutton="false" data-widget-fullscreenbutton="true" data-widget-custombutton="false" data-widget-sortable="false">
                    <header role="heading">
                        <h2><i class="fa fa-search"></i> @Resources.Language.Report_View</h2>
                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="#" class="btn btn-danger disabled" id="pdfDownload"><i class="fa fa-file-pdf-o"></i> PDF</a>
                                        <a href="#" class="btn btn-success disabled" id="excelDownload"><i class="fa fa-file-excel-o"></i> Excel</a>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <img id="reportLoader" src="../../Content/img/adb_img/adb_loader.GIF" style="display:none;" />
                                        <canvas id="reportImg" style="width:100%;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
        </div>
    </section>
</div>

@section pagespecific
{
    <script src="~/Scripts/plugin/PDF.js/pdf.js"></script>
    <script src="~/Scripts/plugin/PDF.js/pdf.worker.js"></script>
    <script src="~/Scripts/TypeScripts/Reporting/ShiftReport.js"></script>
    <script src="~/Scripts/TypeScripts/Components/ComponentsHelper.js"></script>
}