<div id="content">
    <div class="row ">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-th"></i>
                Asset Types <span>
                    >
                    Loaded Asset Types
                </span>
            </h1>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-align-right">
            <div class="page-title">
                <a href="~/AssetClass/CreateAssetClass" class="btn btn-primary" id="uploadBtn"><i class="fa fa-plus-square-o"></i> New Asset Type</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table id="dt_assets" class="table table-striped table-bordered table-hover" style="display:none;" width="100%">
                <thead>
                    <tr>
                        <th data-class="expand"><i class="fa fa-fw fa-pencil-square-o txt-color-blue hidden-md hidden-sm hidden-xs"></i> Description</th>
                        <th data-class="expand"><i class="fa fa-fw fa-wrench txt-color-blue hidden-md hidden-sm hidden-xs"></i> Manufacturer</th>
                        <th data-class="expand"><i class="fa fa-fw fa-cube txt-color-blue hidden-md hidden-sm hidden-xs"></i> Model</th>
                        <th data-hide="phone,tablet"><i class="fa fa-fw fa-picture-o txt-color-blue hidden-md hidden-sm hidden-xs"></i> Picture</th>
                        <th data-hide="expand"><i class="fa fa-fw fa-history txt-color-blue hidden-md hidden-sm hidden-xs"></i> Frequency</th>
                        <th><i class="fa fa-fw fa-cogs txt-color-blue hidden-md hidden-sm hidden-xs"></i> Options</th>
                    </tr>
                </thead>
                <tbody></tbody>

            </table>
            <img id="adbloader" src="~/content/img/adb_img/adb_loader.gif" />
        </div>
    </div>
</div>

@section pagespecific{
    <script src="~/scripts/plugin/datatables/jquery.dataTables.min.js"></script>
    <script src="~/scripts/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="~/scripts/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="~/scripts/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/scripts/plugin/datatable-responsive/datatables.responsive.min.js"></script>

    <script type="text/javascript">
        var responsiveHelper_dt_basic = null;
        var $assetClassTbl = $('#dt_assets');

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };

        function setDataTable() {
            $assetClassTbl.dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (responsiveHelper_dt_basic === null) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_assets'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });
        }

        $(document).ready(function () {


            $.ajax({
                url: "../../AssetClass/getAllAssetClasses",
                type: "POST",
                dataType: "json",
                success: function (json) {
                    var html = "";
                    $.each(json, function (i, value) {
                        html += '<tr class="tr_' + value.assetClassId + '">';
                        html += '<td>' + value.assetDescription + '</td><td>' + value.manufacturer + '</td><td>' + value.model + '</td>';
                        html += '<td><img src="' + value.pictureLocation + '" style="height:50px; width:auto;"/></td>';
                        html += '<td>' + value.frequency + '</td><td><a href="../../AssetClass/EditAssetClass/' + value.assetClassId + '"><i class="fa fa-pencil-square-o"></i> Edit</a> <br/> <a href="#" onclick="deleteAssetClass(' + value.assetClassId + ')"><i class="fa fa-times"></i> Delete</a></td></tr>';
                    });

                    $('#dt_assets tbody').html(html);
                    $('#adbloader').fadeOut(500);
                    setDataTable();
                    $('#dt_assets').fadeIn(500);
                },
                error: function (err) {
                    $.smallBox({
                        title: "Error Retrieving Asset Types",
                        content: err.responseText,
                        color: "#f51414",
                        timeout: 5000,
                        icon: "fa fa-bell swing animated"
                    });
                    $('#adbloader').fadeOut(500);
                }
            });
        });

        function deleteAssetClass(id) {
            $.SmartMessageBox({
                title: '<i class="fa fa-times fa-lg txt-color-red"></i> Delete Asset Class?',
                content: "Do you want to delete this asset class. Continue?",
                buttons: '[No][Yes]'
            }, function (ButtonPressed) {

                if (ButtonPressed === "Yes") {
                    //URL For Call
                    var url = "../../assetclass/deleteAssetClass/" + id;

                    $.ajax({
                        url: url,
                        type: "POST",
                        dataType: "json",
                        data: $('<form>@Html.AntiForgeryToken()</form>').serialize(),
                        success: function (json) {
                            $.smallBox({
                                title: "Asset Class was deleted.",
                                content: json,
                                color: "#5384AF",
                                timeout: 4000,
                                icon: "fa fa-thumbs-up"
                            });

                            var table = $assetClassTbl.DataTable();
                            var row = table.row($('.tr_' + id)).remove();
                            table.draw();
                        },
                        error: function (err) {
                            $.smallBox({
                                title: "Error deleting the Asset Class",
                                content: err.responseText,
                                color: "#f51414",
                                timeout: 5000,
                                icon: "fa fa-bell swing animated"
                            });
                        }
                    });
                }
                if (ButtonPressed === "No") {
                }
            });
        }
    </script>
}
