<div id="content">
    <!--Row-->
    <div class="row">
        <div class="col-md-12">
            <ul id="historyTab" class="nav nav-tabs bordered">
                <li class="active">
                    <a href="#s2" data-toggle="tab"><i class="fa fa-fw fa-lg fa-map-marker"></i> Asset Map</a>
                </li>
                @*<li>
                    <a href="#s1" data-toggle="tab"><i class="fa fa-search"></i> Search for Asset</a>
                </li>*@
            </ul>

            <div id="historyTabContent" class="tab-content padding-10">
                <div class="tab-pane fade" id="s1">
                   
                </div>
                <div class="tab-pane fade in active" id="s2">
                    <div id="map-canvas" style="height:400px; width:100%;"></div>
                </div>
            </div>
        </div>
    </div>
       
    <!--End Row-->
    <!-- row -->
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="well well-sm">
                <h3 id="AssetIdHeader">---</h3>
                <hr />
                <!-- Timeline Content -->
                <div class="smart-timeline">
                    <ul class="smart-timeline-list" id="assetTimeLine">
                        
                        
                    </ul>
                </div>
                <!-- END Timeline Content -->

            </div>

        </div>

    </div>

    <!-- end row -->

</div>
<!-- END MAIN CONTENT -->

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClaJpRNTFn0RCIn16khYbhiCxChMdzzyA&sensor=false&libraries=visualization">
</script>

@section PageScripts
{
    <script type="text/javascript">
        var map;
        var markers = [];
        var Assets = new AllAssets();
        var selectedMarker = 0;

        $(document).ready(function() {
            $.ajax({
                url: '../../Map/getMapCenter',
                type: 'post',
                dataType: 'json',
                success: function(json) {
                    centerLat = json[0];
                    centerLong = json[1];

                    var zoom = 14;

                    var mapOptions = {
                        center: new google.maps.LatLng(json[0], json[1]),
                        zoom: zoom,
                        disableDefaultUI: true,
                    };
                    map = new google.maps.Map(document.getElementById("map-canvas"),
                        mapOptions);

                    requestAllAssetData();
                }
            });


        });

        function getAssetTimeLine(id) {
            $.ajax({
                url: '../../History/GetAssetHistory?assetId=' + id,
                type: 'post',
                dataType: 'json',
                success: function(json) {
                    createAssetTimeLine(json);
                    setAssetHeader(id);
                }
            });
        }

        function setAssetHeader(id) {
            $.each(Assets.jsonData, function(i, v) {
                if (v.assetId === id)
                    $('#AssetIdHeader').html('Asset Id: ' + v.serialNumber + ' (RFID: ' + v.rfidTag + ')');
            });
        }

        function createAssetTimeLine(json) {
            $('#assetTimeLine').empty();
            var j = 0;
            $.each(json, function(i, v) {
                j++;
                var html = '<li><div class="smart-timeline-icon" style="background-color:' + v.colour + ';"><i class="fa ' + v.icon + '"></i></div>';
                html += '<div class="smart-timeline-time"><small>' + v.dateString + '</small></div>';
                html += '<div class="smart-timeline-content"><p><strong>' + v.heading + '</strong></p><div class="well well-sm display-inline" style="width:100%;">';

                ///Timeline Content
                if (v.type === 3) {
                    if (v.icon === 'fa-file-image-o')
                        html += '<img src="' + v.content[0] + '" alt="img" width="100">';
                    else if (v.icon === 'fa-microphone')
                        html += '<p><audio width="100%" height="32" style="width:100%;" controls="controls" preload="true"><source src="' + v.content[0] + '" type="audio/mp4"></audio></p>';
                    else if (v.icon === 'fa-file-text-o')
                        html += '<p><a href="' + v.content[0] + '">View Text Here</a></p>';
                } else if (v.type === 2) {
                    html += '<p><b>Torque Values:</b> ';
                    $.each(v.content, function(index, value) {
                        if (value != null) {
                            if (index === 0)
                                html += value;
                            else
                                html += ', ' + value;
                        }

                    });
                    html += '</p>';
                } else if (v.type === 1) {
                    html += '<p><b>' + v.content[0] + '</b> performed "<i>' + v.content[1] + '"</i> task</p>';
                } else if (v.type === 4) {
                    html += '<p>' + v.content[0] + '</p>';
                } else if (v.type === 5) {
                    html += '<p><b>' + v.content[0] + '</b> performed the following checks:<br/>' + v.content[1] + '</p>';
                }

                html += '</div></div></li>';

                $('#assetTimeLine').append(html);
            });

            if (j === 0) {
                $.smallBox({
                    title: "No History",
                    content: "The asset you selected has no history.",
                    color: "#5384AF",
                    timeout: 4000,
                    icon: "fa fa-history"
                });
            }

            //Add Load more button
            var html = '<li class="text-center"><a href="javascript:void(0)" class="btn btn-sm btn-default"><i class="fa fa-arrow-down text-muted"></i> LOAD MORE</a></li>';

            $('#assetTimeLine').append(html);
        }

        function requestAllAssetData() {
            $.ajax({
                url: '../../Map/getAllAssets',
                type: 'post',
                dataType: 'json',
                success: function(json) {
                    Assets.jsonData = json;

                    var assetId = getUrlParameter('id');
                    if (assetId != null) {
                        selectedMarker =  parseInt(assetId);
                        getAssetTimeLine(selectedMarker);
                    }

                    showAllAssets();
                }
            });
        }

        function AllAssets() {
            this.jsonData = {};
        }

        function clearAllMarkers() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = null;
        }

        function showAllAssets() {
            clearAllMarkers();
            markers = [];
            $.each(Assets.jsonData, function(i, v) {
                addMarker(v);
            });
        }

        function addMarker(json) {
            var long = json.location.longitude;
            var lat = json.location.latitude;
            var latLongMarker = new google.maps.LatLng(lat, long);
            var image = '/images/map_images/NutralMarker.png';

            if (json.assetId === selectedMarker)
                image = '/images/map_images/GreenMarker.png';

            var marker = new google.maps.Marker({
                map: map,
                position: latLongMarker,
                title: json.assetId.toString(),
                icon: image
            });
            google.maps.event.addListener(marker, 'click', function(e) {
                selectedMarker = json.assetId;
                getAssetTimeLine(json.assetId);
                showAllAssets();
            });
            markers.push(marker);
        }

        function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    selectedMarker = sParameterName[1];
                    return sParameterName[1];
                }
            }
        }
    </script>
}