<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false" data-widget-deletebutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
        <h2> Active Shifts <sup class="badge bg-color-red bounceIn animated" id="shiftCount">0</sup></h2>
        <div class="widget-toolbar">
            <!-- add: non-hidden - to disable auto hide -->
            <div class="btn-group">
                <a href="~/shifts/allshifts" class="btn btn-xs btn-default">View All Events</a>
            </div>
        </div>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <input class="form-control" type="text">
        </div>
        <!-- end widget edit box -->
        <div class="widget-body no-padding">
            <!-- content goes here -->
            <img src="~/Content/img/adb_img/startup_loader.GIF" id="calendarLoader" style="zoom:0.5;" />
            <table class="table no-padding table-striped" id="activeShiftsTbl" style="display:none;">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Tech. Team</th>
                        <th>Date</th>
                        <th>Permit</th>
                        <th>Area</th>
                        <th>Progress</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <!-- end content -->
        </div>
    </div>
    <!-- end widget div -->
</div>

<script type="text/javascript">
    function requestAllActiveShifts() {
        $.ajax({
            url: "../../shifts/getShifts?active=true",
            type: "POST",
            dataType: "json",
            success: function (json) {
                var total = 0;
                var complete = 0;
                var html = "";
                var j = 0;
                $.each(json, function (i, v) {
                    html += '<tr><td>' + v.validation + ' <br/>(' + v.task + ")</td><td>" + v.team + "</td><td>" + v.start + "</td><td>" + v.permit + "</td>";
                    if (v.subArea != '')
                        html += "<td>" + v.area + " (" + v.subArea + ")</td>";
                    else
                        html += "<td>" + v.area + "</td>";
                    html += '<td><div class="progress progress-sm"><div class="progress-bar bg-color-greenLight" role="progressbar" style="width: ' + v.progress + '%"></div></div>';
                    html += '<div class="note"><strong>Info:</strong> ' + v.shiftData + ' / ' + v.assets + '</div></td>';
                    html += '<td><button class="btn btn-xs btn-primary" onclick="RemoveActiveShift(' + v.shiftId + ', ' + v.shiftType + ')"><i class="fa fa-check"></i> Complete Shift</button></td></tr>';
                    j++;

                    total += v.assets;
                    complete += v.shiftData;
                });

                $('#shiftCount').html(j);
                $('#activeShiftsTbl tbody').html(html);
                $("#calendarLoader").hide();
                $('#activeShiftsTbl').fadeIn(500);

                //Set the Activity statusbar 
                activityStats.setTotalShiftCompletion(complete, total);
            },
            error: function (err) {
                $.smallBox({
                    title: "Failed to active shifts",
                    content: err.responseText,
                    color: "#f51414",
                    timeout: 5000,
                    icon: "fa fa-bell swing animated"
                });
                $("#calendarLoader").fadeOut(500);
            }
        });
    }

    function RemoveActiveShift(id, type) {
        $.SmartMessageBox({
            title: '<i class="fa fa-check fa-lg txt-color-green"></i> Mark as complete?',
            content: "This will change the status of the shift to close.",
            buttons: '[No][Yes]'
        }, function (ButtonPressed) {

            if (ButtonPressed === "Yes") {
                $.ajax({
                    url: "../../Shifts/UpdateShiftStatus?shiftId=" + id + '&shiftType=' + type,
                    type: "POST",
                    dataType: "json",
                    data: $('<form>@Html.AntiForgeryToken()</form>').serialize(),
                    success: function (json) {
                        $('#dt_shifts tbody').empty();
                        $.smallBox({
                            title: "Shift Status Changed",
                            content: "The shift has been set to complete. You can create a new shift by clicking 'Create New Event'.",
                            color: "#5384AF",
                            timeout: 4000,
                            icon: "fa fa-calendar"
                        });
                        requestAllActiveShifts();
                        activityStats.init();
                    },
                    error: function (err) {
                        $.smallBox({
                            title: "Error changing the shift status",
                            content: err.responseText,
                            color: "#f51414",
                            timeout: 5000,
                            icon: "fa fa-bell swing animated"
                        });
                    }
                });
            }
            if (ButtonPressed === "No") {
            }
        });
    }
</script>