<div class="jarviswidget jarviswidget-color-blue" id="wid-id-4" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-check txt-color-white"></i> </span>
        <h2> ToDo's </h2>
        <div class="widget-toolbar hidden-mobile" role="menu">
            <button id="todoAddBtn" class="btn btn-primary disabled"><i class="fa fa-plus"></i> Add New Item</button>
        </div>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <div>
                <label>Title:</label>
                <input type="text" />
            </div>
        </div>
        <!-- end widget edit box -->
        <div class="widget-body no-padding smart-form">
            <img src="~/Content/img/adb_img/startup_loader.GIF" id="todoLoader" style="zoom:0.5;" />
            <div id="todoDiv" style="display:none;"></div>
        </div>
    </div>
    <!-- end widget div -->
</div>