<!-- MAIN CONTENT -->
<style type="text/css">
    #mapTopMenuBack {
        background-color: #000;
        opacity: 0.7;
        height: 70px;
        position: absolute;
        z-index: 3;
    }

    #mapMenuItems {
        position: absolute;
        z-index: 4;
        height: 70px;
        line-height: 64px;
    }
</style>

<div id="content">
    <div class="row">
        <div class="col-md-12" id="mapTopMenuBack"></div>
        <div class="col-md-12" id="mapMenuItems">

            <button type="button" class="btn btn-labeled btn-success">
                <span class="btn-label">
                    <i class="fa fa-lightbulb-o fa-2x"></i>
                </span>
                Assets
            </button>
            <button type="button" class="btn btn-labeled btn-primary">
                <span class="btn-label">
                    <i class="fa fa-road fa-2x"></i>
                </span>
                Areas
            </button>
            <button type="button" class="btn btn-labeled btn-warning">
                <span class="btn-label">
                    <i class="fa fa-eye fa-2x"></i>
                </span>
                Visual Surveyor&trade;
            </button>
            <button type="button" class="btn btn-labeled btn-danger">
                <span class="btn-label">
                    <i class="fa fa-sun-o fa-2x"></i>
                </span>
                Photometric
            </button>
            <button type="button" class="btn btn-labeled btn-info">
                <span class="btn-label">
                    <i class="fa fa-picture-o fa-2x"></i>
                </span>
                AutoCAD
            </button>

            <div class="btn-group" style="float:right;">
                <button type="button" class="btn btn-labeled btn-default dropdown-toggle" data-toggle="dropdown" style="float:none;">
                    <span class="btn-label">
                        <i class="fa fa-map-marker fa-2x"></i>
                    </span>
                    Map Type
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Hybrid</a></li>
                    <li><a href="#">Satelite</a></li>
                    <li><a href="#">Road Map</a></li>
                    <li><a href="#">Terrain</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="map_canvas" class="google_maps" data-gmap-lat="23.895883" data-gmap-lng="-80.650635" data-gmap-zoom="5" style="height:500px; width:100%;">
        &nbsp;
    </div>
</div>

@section pagespecific{
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClaJpRNTFn0RCIn16khYbhiCxChMdzzyA&sensor=false&libraries=visualization">
    </script>

    <script>
        var globalMap
        function resize() {
            //Calculate the window height and deduct the menu height
            $('#map_canvas').css('height', Math.round($(window).height() - 170));
            google.maps.event.trigger(globalMap, 'resize');
        }

        $(document).ready(function () {


            var pagefunction = function () {
                function initMap() {
                    globalMap = new GMaps({
                        div: '#map_canvas',
                        lat: -12.043333,
                        lng: -77.028333
                    });

                    globalMap.setContextMenu({
                        control: 'map',
                        options: [{
                            title: 'Add marker',
                            name: 'add_marker',
                            action: function (e) {
                                this.addMarker({
                                    lat: e.latLng.lat(),
                                    lng: e.latLng.lng(),
                                    title: 'New marker'
                                });
                            }
                        }, {
                            title: 'Center here',
                            name: 'center_here',
                            action: function (e) {
                                this.setCenter(e.latLng.lat(), e.latLng.lng());
                            }
                        }]
                    });
                }

                initMap();
                resize();
            };

            pagefunction();

            $(window).resize(function () { resize() });
        });
    </script>

    <script src="~/Scripts/plugin/gmapjs/gmapjs.js"></script>
}