<div id="content">
    <div class="row ">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-users"></i>
                Systems Users <span>
                    >
                    View All Users
                </span>
            </h1>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-align-right">
            <div class="page-title">
                <a href="~/Users/Register" class="btn btn-primary" id="uploadBtn"><i class="fa fa-plus-square-o"></i> Add New User</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table id="dt_users" class="table table-striped table-bordered table-hover" style="display:none;" width="100%">
                <thead>
                    <tr>
                        <th data-class="expand" style="width:100px;"><i class="fa fa-fw fa-list-ol txt-color-blue hidden-md hidden-sm hidden-xs"></i> User Id</th>
                        <th data-hide="expand"><i class="fa fa-fw fa-user txt-color-blue hidden-md hidden-sm hidden-xs"></i> Username</th>
                        <th data-class="expand">First Name</th>
                        <th data-class="expand">Last Name</th>
                        <th data-hide="phone,tablet"><i class="fa fa-fw fa-key txt-color-blue hidden-md hidden-sm hidden-xs"></i> Access Level</th>
                        <th data-hide="phone,tablet"><i class="fa fa-fw fa-plane txt-color-blue hidden-md hidden-sm hidden-xs"></i> Airport</th>
                        <th style="width:200px;"><i class="fa fa-fw fa-cogs txt-color-blue hidden-md hidden-sm hidden-xs"></i> Options</th>
                    </tr>
                </thead>
                <tbody></tbody>

            </table>
            <img id="adbloader" src="~/content/img/adb_img/adb_loader.gif" />
        </div>
    </div>
</div>

@section pagespecific{
    <script src="~/scripts/plugin/datatables/jquery.dataTables.min.js"></script>
    <script src="~/scripts/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="~/scripts/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="~/scripts/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/scripts/plugin/datatable-responsive/datatables.responsive.min.js"></script>
    <script src="~/scripts/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <script type="text/javascript">
        //Global Variables
        var $usersTbl = $('#dt_users');
        var responsiveHelper_dt_basic = null;
        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };

        $(document).ready(function () {
            requestUsers();
            
        });

        function setDataTable() {
            $usersTbl.dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (responsiveHelper_dt_basic === null) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($usersTbl, breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });
        }

        function requestUsers()
        {
            $.ajax({
                url: "../../Users/getAllUsers",
                type: "POST",
                dataType: "json",
                success: function (json) {
                    var html = "";
                    $.each(json, function (i, value) {
                        html += '<tr><td>' + value.userId + '</td><td>' + value.username + '</td><td>' + value.firstName + '</td><td>' + value.lastName + '</td><td>' + value.access + '</td>';
                        html += '<td>' + value.airport + '</td><td><a href="#" id=options_' + value.userId + ' onclick="showChangePassword(' + value.userId + ')"><i class="fa fa-history txt-color-red"></i> Reset Password</a>';
                        if (value.access === 'Technician') {
                            html += '<div id=changePass_' + value.userId + ' style="display:none;"><div class="input-group"><input id="passTxt_' + value.userId + '" type="text" class="form-control techPass"/><span class="input-group-addon"><i class="fa fa-lock"></i></span></div><br/><button class="btn btn-primary btn-xs tbl-btn" onclick="changePassword(' + value.userId + ')">Submit</button><button class="btn btn-danger btn-xs tbl-btn" onclick="cancelPassChange(' + value.userId + ')">Cancel</button></div>';
                        } else
                        {
                            html += '<div id=changePass_' + value.userId + ' style="display:none;" class="input-group"><input id="passTxt_' + value.userId + '" type="password" class="form-control"/><br/><button class="btn btn-primary btn-xs tbl-btn" onclick="changePassword(' + value.userId + ')">Submit</button><button class="btn btn-danger btn-xs tbl-btn" onclick="cancelPassChange(' + value.userId + ')">Cancel</button></div>';
                        }
                        html += '<img id="loader_' + value.userId + '" src="../../content/img/adb_img/adb_loader_tr.gif" style="height:10px; display:none;" /><br/><div class="note"><strong>Note:</strong> Technician passwords are 4 numeric digets.</div></td></tr>';
                    });

                    $('#dt_users tbody').html(html);
                    $('#adbloader').fadeOut(500);
                    setDataTable();
                    $('#dt_users').fadeIn(500);
                    $('.techPass').mask("9999", { placeholder: "-" });
                },
                error: function (err) {
                    $.smallBox({
                        title: "Error Retrieving Asset Types",
                        content: err.responseText,
                        color: "#f51414",
                        timeout: 5000,
                        icon: "fa fa-bell swing animated"
                    });
                    $('#adbloader').fadeOut(500);
                }
            });
        }

        function cancelPassChange(id)
        {
            $('#options_' + id).fadeIn(500);
            $('#changePass_' + id).hide();
        }

        function changePassword(id) {
            $('#changePass_' + id).hide();
            $('#loader_' + id).fadeIn(500);

            var password = $('#passTxt_' + id).val();
            if (password.length > 0) {
                $.SmartMessageBox({
                    title: '<i class="fa fa-lock fa-lg txt-color-red"></i> Change Password?',
                    content: "This will change the user password. Continue?",
                    buttons: '[No][Yes]'
                }, function (ButtonPressed) {

                    if (ButtonPressed === "Yes") {
                        $.ajax({
                            url: "../../Users/ChangePassword?userId=" + id + '&password=' + password,
                            type: "POST",
                            dataType: "json",
                            data: $('<form>@Html.AntiForgeryToken()</form>').serialize(),
                            success: function (json) {
                                $.smallBox({
                                    title: "Password Changed.",
                                    content: json.FirstName + " " + json.LastName + "'s password has been changed",
                                    color: "#5384AF",
                                    timeout: 4000,
                                    icon: "fa fa-thumbs-up"
                                });
                                $('#loader_' + id).hide();
                                $('#options_' + id).fadeIn(500);
                            },
                            error: function (err) {
                                $.smallBox({
                                    title: "Error Editing the Asset Class",
                                    content: err.responseText,
                                    color: "#f51414",
                                    timeout: 5000,
                                    icon: "fa fa-bell swing animated"
                                });
                                $('#loader_' + id).hide();
                                $('#options_' + id).fadeIn(500);
                            }
                        });
                    }
                    if (ButtonPressed === "No") {
                        $('#loader_' + id).hide();
                        $('#options_' + id).fadeIn(500);
                    }
                });
            } else {
                $('#loader_' + id).hide();
                $('#changePass_' + id).fadeIn(500);
                $.smallBox({
                    title: "Password?",
                    content: "Please enter a password.",
                    color: "#f51414",
                    timeout: 5000,
                    icon: "fa fa-bell swing animated"
                });
            }
        }

        function showChangePassword(id)
        {
            $('#passTxt_' + id).val('');
            $('#options_' + id).hide();
            $('#changePass_' + id).fadeIn(500);
        }
    </script>
}