<div id="content">
    <div class="row ">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-cogs"></i>
                Settings <span>
                    >
                    About AirSide&trade;
                </span>
            </h1>
        </div>
    </div>
    <hr />

    <div class="well padding-10">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/adbimages/ADB_Safegate.png"/>
            </div>
            <div class="col-md-8">
                <h3><i class="fa fa-plane"></i> AirSide&trade; Asset Management<br/>
                    <small>Airfield ground lighting asset management solution</small>
                </h3>
                <p style="text-align: justify">
                    In this new area of information and accountability, it's hard to make sense of data if it's not relevant. AirSide™ helps you to maximise your investment in current infrastructure, by providing detailed, accountable accurate information.
                </p>
                <hr/>
                <h4><i class="fa fa-code-fork"></i> Version Information</h4>
                <p>
                    <strong>Web API: </strong>@ViewBag.Version<br/>
                    <strong>iOS Application: </strong> Ver. 4.2.0001
                </p>
                <hr/>
                <h4><i class="fa fa-copyright"></i> Copyright</h4>
                <p>
                    Copyright &copy; ADB Airfield Solutions - All Rights Reserved<br/>
                    Unauthorized copying of this site, or any part of the site via any medium is strickly prohibited.<br/>
                    Proprietary and confidential.
                    Written by BlackLynx, @DateTime.Now.Year
                </p>
            </div>
        </div>
    </div>
</div>
