<div class="login-info">
    <span>
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <img id="gravatarImg" class="online" />
            <span id="userName">---</span>
        </a>
    </span>
</div>

